
@{
    ViewBag.Title = "About";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- Breadcrumbs -->
<section class="breadcrumbs-custom-inset">
    <div class="breadcrumbs-custom context-dark bg-overlay-60">
        <div class="container">
            <h2 class="breadcrumbs-custom-title">About</h2>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active">About</li>
            </ul>
        </div>
        <div class="box-position" style="background-image: url(https://wallpaperaccess.com/full/2601987.jpg);"></div>
    </div>
</section>
<!-- Why choose us-->
<section class="section section-sm section-first bg-default text-md-left">
    <div class="container">
        <div class="row row-50 justify-content-center align-items-xl-center">
            <div class="col-md-10 col-lg-5 col-xl-6">
                <img src="http://kbfclubholidays.com/images/madam.jpg" alt="" width="519" height="564" />
            </div>
            <div class="col-md-10 col-lg-7 col-xl-6">
                <h1 class="text-spacing-25 font-weight-normal title-opacity-9">Why choose us</h1>
                <!-- Bootstrap tabs-->
                <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-4">
                    <!-- Nav tabs-->
                    <ul class="nav nav-tabs">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-4-1" data-toggle="tab">Experience</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-4-2" data-toggle="tab">Skills</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-4-3" data-toggle="tab">Mission</a></li>
                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabs-4-1">
                            <p>THE EXPERIENCE IS EVERYTHING. WHY CHOOSE THE BucketList? BECAUSE WE USE OUR EXPERIENCE TO CREATE YOURS.</p>
                            <!-- Linear progress bar-->
                            <article class="progress-linear progress-secondary">
                                <div class="progress-header">
                                    <p>Hotels</p>
                                </div>
                                <div class="progress-bar-linear-wrap">
                                    <div class="progress-bar-linear" data-gradient=""><span class="progress-value">92</span><span class="progress-marker"></span></div>
                                </div>
                            </article>
                            <!-- Linear progress bar-->
                            <article class="progress-linear progress-orange">
                                <div class="progress-header">
                                    <p>Restaurants</p>
                                </div>
                                <div class="progress-bar-linear-wrap">
                                    <div class="progress-bar-linear" data-gradient=""><span class="progress-value">85</span><span class="progress-marker"></span></div>
                                </div>
                            </article>
                            <!-- Linear progress bar-->
                            <article class="progress-linear">
                                <div class="progress-header">
                                    <p>Guide</p>
                                </div>
                                <div class="progress-bar-linear-wrap">
                                    <div class="progress-bar-linear" data-gradient=""><span class="progress-value">90</span><span class="progress-marker"></span></div>
                                </div>
                            </article>
                        </div>
                        <div class="tab-pane fade" id="tabs-4-2">
                            <div class="row row-40 justify-content-center text-center inset-top-10">
                                <div class="col-sm-4">
                                    <!-- Circle Progress Bar-->
                                    <div class="progress-bar-circle" data-value="0.87" data-gradient="#01b3a7" data-empty-fill="transparent" data-size="150" data-thickness="12" data-reverse="true"><span></span></div>
                                    <p class="progress-bar-circle-title">Hotels</p>
                                </div>
                                <div class="col-sm-4">
                                    <!-- Circle Progress Bar-->
                                    <div class="progress-bar-circle" data-value="0.74" data-gradient="#01b3a7" data-empty-fill="transparent" data-size="150" data-thickness="12" data-reverse="true"><span></span></div>
                                    <p class="progress-bar-circle-title">Restaurants</p>
                                </div>
                                <div class="col-sm-4">
                                    <!-- Circle Progress Bar-->
                                    <div class="progress-bar-circle" data-value="0.99" data-gradient="#01b3a7" data-empty-fill="transparent" data-size="150" data-thickness="12" data-reverse="true"><span></span></div>
                                    <p class="progress-bar-circle-title">Guide</p>
                                </div>
                            </div>
                            <div class="group-md group-middle"><a class="button button-width-xl-230 button-primary button-pipaluk" href="#">Get in touch</a></div>
                        </div>
                        <div class="tab-pane fade" id="tabs-4-3">
                            <p>Your holiday is important - why compromise !!</p>
                            <div class="text-center text-sm-left offset-top-30 tab-height">
                                <ul class="row-16 list-0 list-custom list-marked list-marked-sm list-marked-secondary">
                                    <li>Fun</li>
                                    <li>Quality</li>
                                    <li>Experience</li>
                                    <li>Flexibility</li>
                                    <li>Accuracy</li>
                                    <li>Service</li>
                                </ul>
                            </div>
                            <div class="group-md group-middle"><a class="button button-width-xl-230 button-primary button-pipaluk" href="#">Get in touch</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Projects-->
<section class="section section-sm section-fluid bg-default">
    <div class="container">
        <h3>Destinations</h3>
    </div>
    <!-- Owl Carousel-->
    <div class="owl-carousel owl-classic owl-timeline" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="4" data-margin="30" data-autoplay="false" data-nav="true" data-dots="true">
        <div class="owl-item">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
                <div class="thumbnail-mary-figure">
                    <img src="https://www.planetware.com/wpimages/2019/11/india-best-places-to-visit-kolkata.jpg" alt="" width="420" height="308" />
                </div>
            </article>
            <div class="thumbnail-mary-description">
                <h5 class="thumbnail-mary-project"><a href="#">Kolkata</a></h5><span class="thumbnail-mary-decor"></span>
                <h5 class="thumbnail-mary-time">
                </h5>
            </div>
        </div>
        <div class="owl-item">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
                <div class="thumbnail-mary-figure">
                    <img src="https://www.planetware.com/wpimages/2019/11/india-best-places-to-visit-goa.jpg" alt="" width="420" height="308" />
                </div>
            </article>
            <div class="thumbnail-mary-description">
                <h5 class="thumbnail-mary-project"><a href="#">Goa</a></h5><span class="thumbnail-mary-decor"></span>
                <h5 class="thumbnail-mary-time">
                </h5>
            </div>
        </div>
        <div class="owl-item">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
                <div class="thumbnail-mary-figure">
                    <img src="https://www.planetware.com/wpimages/2019/11/india-best-places-to-visit-mumbai.jpg" alt="" width="420" height="308" />
                </div>
            </article>
            <div class="thumbnail-mary-description">
                <h5 class="thumbnail-mary-project"><a href="#">Mumbai</a></h5><span class="thumbnail-mary-decor"></span>
                <h5 class="thumbnail-mary-time">
                </h5>
            </div>
        </div>
        <div class="owl-item">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
                <div class="thumbnail-mary-figure">
                    <img src="https://www.planetware.com/wpimages/2019/11/india-best-places-to-visit-ahmedabad.jpg" alt="" width="420" height="308" />
                </div>
            </article>
            <div class="thumbnail-mary-description">
                <h5 class="thumbnail-mary-project"><a href="#">Ahmedabad</a></h5><span class="thumbnail-mary-decor"></span>
                <h5 class="thumbnail-mary-time">
                </h5>
            </div>
        </div>
        <div class="owl-item">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
                <div class="thumbnail-mary-figure">
                    <img src="https://www.planetware.com/wpimages/2019/11/india-best-places-to-visit-amritsar.jpg" alt="" width="420" height="308" />
                </div>
            </article>
            <div class="thumbnail-mary-description">
                <h5 class="thumbnail-mary-project"><a href="#">Amritsar</a></h5><span class="thumbnail-mary-decor"></span>
                <h5 class="thumbnail-mary-time">
                </h5>
            </div>
        </div>
        <div class="owl-item">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
                <div class="thumbnail-mary-figure">
                    <img src="https://www.planetware.com/wpimages/2019/11/india-best-places-to-visit-agra.jpg" alt="" width="420" height="308" />
                </div>
            </article>
            <div class="thumbnail-mary-description">
                <h5 class="thumbnail-mary-project"><a href="#">Agra</a></h5><span class="thumbnail-mary-decor"></span>
                <h5 class="thumbnail-mary-time">
                </h5>
            </div>
        </div>
    </div>
</section>
<!-- What people Say-->
<section class="section section-sm section-last bg-default">
    <div class="container">
        <h3>What People Say</h3>
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-modern" data-items="1" data-stage-padding="15" data-margin="30" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
            <!-- Quote Lisa-->
            <article class="quote-lisa">
                <div class="quote-lisa-body">
                    <a class="quote-lisa-figure" href="#"><img class="img-circles" src="https://www.pinkvilla.com/imageresize/when-the-vampire-diaries-ian-somerhalder.jpg?width=752&format=webp&t=pvorg" alt="" width="100" height="100" /></a>
                    <div class="quote-lisa-text">
                        <p class="q">I just want to say thank you for everything. We always use BucketList you are all so helpful. We had a wonderful time away.</p>
                    </div>
                    <h5 class="quote-lisa-cite"><a href="#">Damon Salvator</a></h5>
                    <p class="quote-lisa-status">Client</p>
                </div>
            </article>
            <!-- Quote Lisa-->
            <article class="quote-lisa">
                <div class="quote-lisa-body">
                    <a class="quote-lisa-figure" href="#"><img class="img-circles" src="https://data.whicdn.com/images/317034654/original.jpg" alt="" width="100" height="100" /></a>
                    <div class="quote-lisa-text">
                        <p class="q">First time we have used BucketList, but certainly will not be the last. In this currently ever changing environment, we were kept up to date. Highly recommended.</p>
                    </div>
                    <h5 class="quote-lisa-cite"><a href="#">Klaus Mikealson</a></h5>
                    <p class="quote-lisa-status">Client</p>
                </div>
            </article>
            <!-- Quote Lisa-->
            <article class="quote-lisa">
                <div class="quote-lisa-body">
                    <a class="quote-lisa-figure" href="#"><img class="img-circles" src="https://i.pinimg.com/736x/b0/fa/46/b0fa46a098d21db3f51bae6f89ec03c0.jpg" alt="" width="100" height="100" /></a>
                    <div class="quote-lisa-text">
                        <p class="q">Very impressed with the standard of service and being kept up to date.</p>
                    </div>
                    <h5 class="quote-lisa-cite"><a href="#">Hayley Marshal</a></h5>
                    <p class="quote-lisa-status">Client</p>
                </div>
            </article>
        </div>
    </div>
</section>
<!--Counters-->
<!-- Counter Classic-->
<section class="section section-fluid bg-default">
    <div class="parallax-container" data-parallax-img="https://cdn.mos.cms.futurecdn.net/wtqqnkYDYi2ifsWZVW2MT4-1200-80.jpg">
        <div class="parallax-content section-xl context-dark bg-overlay-26">
            <div class="container">
                <div class="row row-50 justify-content-center border-classic">
                    <div class="col-sm-6 col-md-5 col-lg-3">
                        <div class="counter-classic">
                            <div class="counter-classic-number">
                                <span class="counter">12</span>
                            </div>
                            <h5 class="counter-classic-title">Awards</h5>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-5 col-lg-3">
                        <div class="counter-classic">
                            <div class="counter-classic-number">
                                <span class="counter">2</span><span class="symbol">k</span>
                            </div>
                            <h5 class="counter-classic-title">Travelers</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-3">
                        <div class="counter-classic">
                            <div class="counter-classic-number">
                                <span class="counter">25</span>
                            </div>
                            <h5 class="counter-classic-title">Team members</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->
<script src="~/js/core.min.js"></script>
<script src="~/js/script.js"></script>

