
@{
    ViewBag.Title = "Ahmedabad";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<div class="div2">
    <img src="~/images/sidi2.jpg"></img>
    <h2 class="text">Ahmedabad Tourism</h2>
    <p class="text1">
        Ahmedabad has emerged as an important economic and industrial hub in India.
        It is the second-largest producer of cotton in India, due to which it was known as the
        'Manchester of India' along with Kanpur. Ahmedabad's stock exchange (before it was shut down in 2018)
        was the country's second oldest. Cricket is a popular sport in Ahmedabad. A newly built Narendra Modi
        Stadium at Motera can accommodate 132,000 spectators, being the largest stadium in the world.
        And upcoming World Class Sports Enclave (SVP Sports Enclave Ahmedabad) It will be one of the Biggest
        Sports Centre (Sports City) in India.
    </p>
    <h3 class="text2">Places To visit</h3>

    <div class="flip-card mySlides">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/images/kankaria1.jpg" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h4 class="text3">Kankaria Lake</h4>
                <p class="text3" width="100">
                    Kankaria Lake is the second largest lake in Ahmedabad, Gujarat, India.
                    It is located in the south-eastern part of the city, in the Maninagar area. It was
                    completed in 1451 during the reign of Sultan Qutb-ud-Din Ahmad Shah II though its origin
                    is placed in the Chaulukya period sometimes
                </p>
            </div>
        </div>
    </div>

    <div class="flip-card mySlides1">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/images/adalaj1.jpg" alt="Marinedrive" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h4 class="text3">Adalaj Stepwell</h4>
                <p width="100">
                    Adalaj Stepwell or Rudabai Stepwell is a stepwell located in the village of Adalaj, close to Ahmedabad
                    city and in Gandhinagar district in the Indian state of Gujarat, and considered a fine example of Indian architecture work.
                    It was built in 1498 in the memory of Rana Veer Singh, by his wife Queen Rudadevi
                </p>
            </div>
        </div>
    </div>

    <div class="flip-card mySlides2">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/images/law1.jpg" alt="Gateway" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h4 class="text3">Law Garden</h4>
                <p width="100">
                    Law Garden is a public garden in the city of Ahmedabad, India. The market
                    outside the garden is very famous for the handicraft goods sold by local people.
                    The road at the side of the garden is filled with street hawkers selling a variety of food items.
                </p>
            </div>
        </div>
    </div>

    <div class="flip-card mySlides3">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/images/sabarmati2.jpg" alt="Colaba" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h4 class="text3">Sabarmati Ashram</h4>
                <p width="100">
                    Sabarmati Ashram is located in the Sabarmati suburb of Ahmedabad, Gujarat, adjoining the Ashram Road,
                    on the banks of the River Sabarmati, 4 miles from the town hall. This was one of the many residences of Mahatma
                    Gandhi who lived at Sabarmati.
                </p>
            </div>
        </div>
    </div>

    <h3 class="text4">Hotels</h3>
    <ul class="card-wrapper">
        <li class="card" style="position:relative;left:100px;">
            <img src="~/images/carrefour1.jpg" height="200"><br>
            <center>
            <h3> Carrefour</h3>
            <p>
                3-star hotel Gujarat College Rd, Near Nagri Eye Hospital, Ellisbridge, Ahmedabad, Gujarat 380006•079 2644 2440
                <br> Terif: 1580
            </p>
                </center>
        </li>

        <li class="card" style="position:relative;left:200px;">
            <img src="~/images/marigold1.jpg" height="200"><br>
            <center>
            <h3>Marigold</h3>
            <p>
                Sanand Chowkdi, A BLOCK SINGNATURE 2, Sarkhej - Gandhinagar Hwy, Sarkhej, Ahmedabad, Gujarat 382210•097245 41285
                Terif:764
            </p>
            </center>
        </li>
        <li class="card" style="position:relative;left:300px;">
            <img src="~/images/treat3.jpg" height="200"><br>
            <center>
            <h3>Treatotel</h3>
            <p>
                HOTEL TREATOTEL, Gurukul Rd, L.K Society, Nilmani Society, Memnagar, Ahmedabad, Gujarat 380052•079 4005 6437<br>
                Terif : 1904
            </p>
            </center>
        </li>
    </ul>

    <!--Restaurants-->
    <h3 class="text5" style="position:relative;bottom:1040px;">Restaurants</h3>
    <ul class="card-wrapper">
        <li class="card" style="position:relative;left:100px;bottom:1000px;">
            <img src="~/images/global3.jpg" height="200"><br>
            <center>
            <h3>The Global Kitchen</h3>
            <p>
                13 Gandhibag society, Law Garden, Opp Nirman Bhavan, Panchavati Rd, Ahmedabad, Gujarat 380006
                <br /> no : 098240 90111
            </p>
                </center>
        </li>
        <li class="card" style="position:relative;left:200px;bottom:1000px;">
            <img src="~/images/rajwadu1.jpg" height="200"><br>
            <center>
            <h3>Rajwadu</h3>
            <p>
                Nr. Jivraj Tolnaka, Behind Ambaji Temple, Malav Talav, Ahmedabad, Gujarat
                <br> no : +91 079 2664 3839
            </p>
            </center>
        </li>
        <li class="card" style="position:relative;left:300px;bottom:1000px;">
            <img src="~/images/green1.jpg" height="200"><br>
            <center>
            <h3>Green House</h3>
            <p>
                The House of MG, Opp. Sidi Saiyed Jali, Nr. Relief Road, Lal Darwaja, Ahmedabad, Gujarat 380001
                <br> no : +91 079 2550 6946
            </p>
                </center>
        </li>
    </ul>
</div>

    
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>

<script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
</script>

