
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- Swiper-->
<section class="section swiper-container swiper-slider swiper-slider-corporate swiper-pagination-style-2" data-loop="true" data-autoplay="5000" data-simulate-touch="true" data-nav="false" data-direction="vertical">
    <div class="swiper-wrapper text-left">
        <div class="swiper-slide context-dark" data-slide-bg="https://media.cntraveler.com/photos/5698079f78d099fc122488c4/master/w_1920%2Cc_limit/Trunk-Bay-St-John-cr-alamy.jpg">
            <div class="swiper-slide-caption section-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <h6 class="text-uppercase" data-caption-animate="fadeInRight" data-caption-delay="0">Enjoy the Best Destinations with BucketList</h6>
                            <h2 class="oh font-weight-light" data-caption-animate="slideInUp" data-caption-delay="100"><span>Explore</span><span class="font-weight-bold"> The World</span></h2><a class="button button-default-outline button-ujarak" href="contact-us.html" data-caption-animate="fadeInLeft" data-caption-delay="0">Get in touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide context-dark" data-slide-bg="https://media.cntraveler.com/photos/58acb49ce85725558885abc6/master/w_1920%2Cc_limit/parrot-cay-DYRAXB.jpg">
            <div class="swiper-slide-caption section-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <h6 class="text-uppercase" data-caption-animate="fadeInRight" data-caption-delay="0">A team of professional Travel Experts</h6>
                            <h2 class="oh font-weight-light" data-caption-animate="slideInUp" data-caption-delay="100"><span>Trust</span><span class="font-weight-bold"> Our Experience</span></h2><a class="button button-default-outline button-ujarak" href="contact-us.html" data-caption-animate="fadeInLeft" data-caption-delay="0">Get in touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide context-dark" data-slide-bg="https://media.cntraveler.com/photos/5c6191039189f70d80586f47/master/w_1920%2Cc_limit/Maundays-Bay-anguilla_GettyImages-506007990.jpg">
            <div class="swiper-slide-caption section-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <h6 class="text-uppercase" data-caption-animate="fadeInRight" data-caption-delay="0">Build your Next Holiday Trip with Us</h6>
                            <h2 class="oh font-weight-light" data-caption-animate="slideInUp" data-caption-delay="100"><span>Create</span><span class="font-weight-bold"> Your Tour</span></h2><a class="button button-default-outline button-ujarak" href="contact-us.html" data-caption-animate="fadeInLeft" data-caption-delay="0">Get in touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Swiper Pagination-->
    <div class="swiper-pagination"></div>
</section>
<!-- Section Box Categories-->
<section class="section section-lg section-top-1 bg-gray-4">
    <div class="container offset-negative-1">
        <div class="box-categories cta-box-wrap">
            <div class="box-categories-content">
                <div class="row justify-content-center">
                    <div class="col-md-4 wow fadeInDown col-9" data-wow-delay=".2s">
                        <ul class="list-marked-2 box-categories-list">
                            <li>
                                <a href="#"><img src="https://livedemo00.template-help.com/wt_51647/images/cta-1-368x420.jpg" alt="" width="368" height="420" /></a>
                                <h5 class="box-categories-title">Adventure Holiday</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 wow fadeInDown col-9" data-wow-delay=".2s">
                        <ul class="list-marked-2 box-categories-list">
                            <li>
                                <a href="#"><img src="https://livedemo00.template-help.com/wt_51647/images/cta-2-368x420.jpg" alt="" width="368" height="420" /></a>
                                <h5 class="box-categories-title">Mountain Holiday</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 wow fadeInDown col-9" data-wow-delay=".2s">
                        <ul class="list-marked-2 box-categories-list">
                            <li>
                                <a href="#"><img src="https://livedemo00.template-help.com/wt_51647/images/cta-3-368x420.jpg" alt="" width="368" height="420" /></a>
                                <h5 class="box-categories-title">Beach Holidays</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><a class="link-classic wow fadeInUp" href="#">Other Tours<span></span></a>
        <!-- Owl Carousel-->
    </div>
</section>
<!-- Discover New Horizons-->
<section class="section section-sm section-first bg-default text-md-left">
    <div class="container">
        <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">
            <div class="col-lg-6 text-center wow fadeInUp">
                <img src="https://images.unsplash.com/photo-1515916801730-e39c78b31b10?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvbG9yZnVsJTIwY2l0eXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" width="556" height="382" />
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay=".1s">
                <div class="box-width-lg-470">
                    <h3>Discover New Horizons</h3>
                    <!-- Bootstrap tabs-->
                    <div class="tabs-custom tabs-horizontal tabs-line tabs-line-big tabs-line-style-2 text-center text-md-left" id="tabs-7">
                        <!-- Nav tabs-->
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-7-1" data-toggle="tab">About us</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-2" data-toggle="tab">Why choose us</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-3" data-toggle="tab">Our mission</a></li>
                        </ul>
                        <!-- Tab panes-->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tabs-7-1">
                                <p>BucketList is committed to bringing our clients the best in value and quality travel arrangements. We are passionate about travel and sharing the India's wonders with you.</p>
                                <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="contact-us.html">Get in Touch</a><a class="button button-black-outline button-md" href="about.html">Read More</a></div>
                            </div>
                            <div class="tab-pane fade" id="tabs-7-2">
                                <p>The experience is everything. Why choose the BucketList ? BECAUSE WE USE OUR EXPERIENCE TO CREATE YOURS..</p>
                                <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="contact-us.html">Get in Touch</a><a class="button button-black-outline button-md" href="about.html">Read More</a></div>
                            </div>
                            <div class="tab-pane fade" id="tabs-7-3">
                                <p>Our mission is to provide the ultimate travel planning experience while becoming a one-stop shop for every travel service available in the industry.</p>
                                <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="contact-us.html">Get in Touch</a><a class="button button-black-outline button-md" href="about.html">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--	Our Services-->
<section class="section section-sm">
    <div class="container">
        <h3>Our Services</h3>
        <div class="row row-30">
            <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic">
                    <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                        <div class="unit-left">
                            <div class="box-icon-classic-icon fl-bigmug-line-hot67"></div>
                        </div>
                        <div class="unit-body">
                            <h5 class="box-icon-classic-title"><a href="#">Handpicked Hotels/Restaurants</a></h5>
                            <p class="box-icon-classic-text">Our team offers only the best selection of affordable and luxury hotels and restaurants to our users.</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic">
                    <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                        <div class="unit-left">
                            <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
                        </div>
                        <div class="unit-body">
                            <h5 class="box-icon-classic-title"><a href="#">Highly Qualified Service</a></h5>
                            <p class="box-icon-classic-text">Our tour managers are qualified, skilled, and friendly to bring you the best service.</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic">
                    <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                        <div class="unit-left">
                            <div class="box-icon-classic-icon fl-bigmug-line-headphones32"></div>
                        </div>
                        <div class="unit-body">
                            <h5 class="box-icon-classic-title"><a href="#">24/7 Support</a></h5>
                            <p class="box-icon-classic-text">You can always get professional support from our staff 24/7 and ask any question you have.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Different People-->
<section class="section section-sm">
    <div class="container">
        <h3 class="title-block find-car oh"><span class="d-inline-block wow slideInUp">Different People — One Mission</span></h3>
        <div class="row row-30 justify-content-center box-ordered">
            <div class="col-sm-6 col-md-5 col-lg-3">
                <!-- Team Modern-->
                <article class="team-modern">
                    <div class="team-modern-header">
                        <a class="team-modern-figure" href="#"><img class="img-circles" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRbMo2SCiyVWLKWGnTMn9T3oJRIt0oeXwheA&usqp=CAU" alt="" width="118" height="118" /></a>
                        <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70" xml:space="preserve">
                        <g>
                        <path fill="#161616" d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                    </g>
                  </svg>
                    </div>
                    <div class="team-modern-caption">
                        <h6 class="team-modern-name"><a href="#">Joey Tribbiani</a></h6>
                        <p class="team-modern-status">Founder, Owner</p>
                        <h6 class="team-modern-phone"><a href="tel:#">+91 9876543421</a></h6>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3">
                <!-- Team Modern-->
                <article class="team-modern">
                    <div class="team-modern-header">
                        <a class="team-modern-figure" href="#"><img class="img-circles" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThfWFOv2x0C8IeRONlaNHFl1bvrRw-lIEfkA&usqp=CAU" alt="" width="118" height="118" /></a>
                        <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70" xml:space="preserve">
                        <g>
                        <path fill="#161616" d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                    </g>
                  </svg>
                    </div>
                    <div class="team-modern-caption">
                        <h6 class="team-modern-name"><a href="#">Rachel Green</a></h6>
                        <p class="team-modern-status">Travel Consultant</p>
                        <h6 class="team-modern-phone"><a href="tel:#">+91 9876543310</a></h6>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3">
                <!-- Team Modern-->
                <article class="team-modern">
                    <div class="team-modern-header">
                        <a class="team-modern-figure" href="#"><img class="img-circles" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAKxDfuRTM570dDX9AK3Y7pIEhnPy4q83-oA&usqp=CAU" alt="" width="118" height="118" /></a>
                        <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70" xml:space="preserve">
                        <g>
                        <path fill="#161616" d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                    </g>
                  </svg>
                    </div>
                    <div class="team-modern-caption">
                        <h6 class="team-modern-name"><a href="#">Chandler Bing</a></h6>
                        <p class="team-modern-status">PR Manager</p>
                        <h6 class="team-modern-phone"><a href="tel:#">+91 9876543220</a></h6>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Section Subscribe-->
<section class="section bg-default text-center offset-top-50">
    <div class="parallax-container" data-parallax-img="https://media.cntraveler.com/photos/5c6429aa9189f70d8058705c/master/w_1920%2Cc_limit/Laucala%2520Island-2.jpg">
        <div class="parallax-content section-xl section-inset-custom-1 context-dark bg-overlay-2-21">
            <div class="container">
                <h2 class="heading-2 oh font-weight-normal wow slideInDown"><span class="d-block font-weight-semi-bold">First-class Impressions</span><span class="d-block font-weight-light">are Waiting for You!</span></h2>
                <p class="text-width-medium text-spacing-75 wow fadeInLeft" data-wow-delay=".1s">Our website offers travelers various handpicked restaurants,hotels,guides and top places to visit with destinations all over the world. Browse our website to find your dream tour!</p><a class="button button-secondary button-pipaluk" href="#">Search Your Dream</a>
            </div>
        </div>
    </div>
</section>
<!--	Instagrram wondertour-->
<section class="section section-sm section-top-0 section-fluid section-relative bg-gray-4">
    <div class="container-fluid">
        <h6 class="gallery-title">Gallery</h6>
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-classic owl-dots-secondary" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-xl-items="5" data-xxl-items="6" data-stage-padding="15" data-xxl-stage-padding="0" data-margin="30" data-autoplay="true" data-nav="true" data-dots="true">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
                <div class="thumbnail-mary-figure">
                    <img src="https://www.holidify.com/images/bgImages/JODHPUR.jpg" alt="" width="270" height="195" />
                </div>
            </article>
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
                <div class="thumbnail-mary-figure">
                    <img src="https://www.holidify.com/images/bgImages/SRINAGAR.jpg" alt="" width="270" height="195" />
                </div>
            </article>
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
                <div class="thumbnail-mary-figure">
                    <img src="https://www.holidify.com/images/bgImages/LADAKH.jpg" alt="" width="270" height="195" />
                </div>
            </article>
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
                <div class="thumbnail-mary-figure">
                    <img src="https://www.holidify.com/images/bgImages/MANALI.jpg" alt="" width="270" height="195" />
                </div>
            </article>
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
                <div class="thumbnail-mary-figure">
                    <img src="https://www.holidify.com/images/bgImages/JAISALMER.jpg" alt="" width="270" height="195" />
                </div>
            </article>
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
                <div class="thumbnail-mary-figure">
                    <img src="https://www.holidify.com/images/bgImages/ANDAMAN-NICOBAR-ISLANDS.jpg" alt="" width="270" height="195" />
                </div>
            </article>
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-mary">
                <div class="thumbnail-mary-figure">
                    <img src="https://www.holidify.com/images/bgImages/UDAIPUR.jpg" alt="" width="270" height="195" />
                </div>
            </article>
        </div>
    </div>
</section>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->
<script src="~/js/core.min.js"></script>
<script src="~/js/script.js"></script>

