
@{
    ViewBag.Title = "Jaipur";
    Layout = "~/Views/_LayoutPage1.cshtml";
}



<div class="div2">
    <img src="~/images/amber1.jpg"></img>
    <h2 class="text">Jaipur Tourism</h2>
    <p class="text1">
        Jaipur is a popular tourist destination in India and forms a part of the west Golden Triangle
        tourist circuit along with Delhi and Agra (240 km, 149 mi).[12] It also serves as a gateway to other tourist
        destinations in Rajasthan such as Jodhpur (348 km, 216 mi), Jaisalmer (571 km, 355 mi), Udaipur (421 km, 262 mi),
        Kota (252 km, 156 mi) and Mount Abu (520 km, 323 mi). Jaipur is located 616 km from Shimla.On 6 July 2019, UNESCO
        World Heritage Committee inscribed Jaipur the "Pink City of India" among its World Heritage Sites.[13] The city is
        also home to the UNESCO World Heritage Sites Amer Fort and Jantar Mantar.
    </p>
    <h3 class="text2">Places To visit</h3>

    <div class="flip-card mySlides">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/images/jantar1.jpg" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h4 class="text3">Jantar Mantar </h4>
                <p class="text3" width="100">
                    The Jantar Mantar is a collection of 19 astronomical instruments built by the Rajput
                    king Sawai Jai Singh II, the founder of Jaipur, Rajasthan. The monument was completed in 1734.
                    It features the world's largest stone sundial, and is a UNESCO World Heritage site. It is located near
                    City Palace and Hawa Mahal
                </p>
            </div>
        </div>
    </div>

    <div class="flip-card mySlides1">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/images/amber2.jpg" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h4 class="text3">Amber Palace</h4>
                <p width="100">
                    Amber Fort or Amer Fort is a fort located in Amber, Rajasthan, India. Amber is
                    a town with an area of 4 square kilometres located 11 kilometres from Jaipur, the capital of Rajasthan.
                </p>
            </div>
        </div>
    </div>

    <div class="flip-card mySlides2">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/images/lake1.jpg" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h4 class="text3">Chandlai Lake</h4>
                <p width="100">
                    Chandlai Lake is a haven for nature lovers and photographers who love to capture birds and wildlife.
                    Around 10,000 migratory birds can be spotted here and people can watch them as they swim and fly over the clear
                    water of this lake.
                </p>
            </div>
        </div>
    </div>

    <div class="flip-card mySlides3">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/images/diwan1.jpg" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h4 class="text3">Diwan-e-Khas</h4>
                <p width="100">
                    CThe Diwan-i-Khas, or Hall of Private Audiences, was a chamber in the Red Fort of Delhi built-in 1648
                    as a location for receptions. It was the location where the Mughal Emperor Shah Jahan received courtiers and state
                    guests. It was also known as the Shah Mahal.
                </p>
            </div>
        </div>
    </div>

    <h3 class="text4">Hotels</h3>
    <ul class="card-wrapper">
        <li class="card" style="position:relative;left:100px;">
            <img src="~/images/dodas3.jpg" height="200"><br>
            <h3>Dodas Palace by ShriGo Hotels</h3>
            <p>
                Hotel Dodas Palace by ShriGo Hotels, Lane, No. 2, Gali Number 2, Raja Park, Jaipur, Rajasthan 302004•0141 262 0870
                <br> Terif: 800
            </p>
        </li>
        <li class="card" style="position:relative;left:200px;">
            <img src="~/images/rpalace1.jpg" height="200"><br>
            <h3>Rajasthan Palace</h3>
            <p>
                3-star hotel Peelwa Garden, 3, Moti Doongri Rd, Adarsh Nagar, Jaipur, Rajasthan 302004•070166 62608
                <br>  Terif:2989
            </p>
        </li>
        <li class="card" style="position:relative;left:300px;">
            <img src="~/images/lalit1.jpg" height="200"><br>
            <h3>Royal Lalit</h3>
            <p>
                Amrapali Marg, Vaishali Nagar, Jaipur, Rajasthan 302021•0141 423 8777<br>
                Terif : 2570
            </p>
        </li>
    </ul>

    <!--Restaurants-->
    <h3 class="text5" style="position:relative;bottom:1040px;">Restaurants</h3>
    <ul class="card-wrapper">
        <li class="card" style="position:relative;left:100px;bottom:1000px;">
            <img src="~/images/kalyan2.jpg" height="200" width="400"><br>
            <h3>Kalyan Rooftop & Indoor Restaurant</h3>
            <p>
                : 59 Hathroi Fort Hari Kishan Somani Marg, Ajmer Rd, near Vidhayakpuri Police Station, Jaipur, Rajasthan 302001
                <br /> no : : 093145 01591
            </p>
        </li>
        <li class="card" style="position:relative;left:200px;bottom:1000px;">
            <img src="~/images/natraj3.jpg" height="200" width="400"><br>
            <h3>Natraj Restaurant</h3>
            <p>
                MI Rd, Panch Batti, C Scheme, Ashok Nagar, Jaipur, Rajasthan 302001
                <br> no : +91 22 2410 1010
            </p>
        </li>
        <li class="card" style="position:relative;left:300px;bottom:1000px;">
            <img src="~/images/chhabra1.jpg" height="200" width="400"><br>
            <h3>Chhabra's Pure Veg</h3>
            <p>
                No.HH, 89, Calgiri Marg, Block-A, Malviya Nagar, Jaipur, Rajasthan 302017
                <br> no : +91 98200 01328
            </p>
        </li>
    </ul>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>

<script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
</script>


