
@{
    ViewBag.Title = "Mumbai";
    Layout = "~/Views/_LayoutPage1.cshtml";
}



<div class="div2">
    <img src="~/images/Gateway1.jpg"></img>
    <h2 class="text">Mumbai Tourism</h2>
    <p class="text1">
        Overlooking the blue expanse of the Arabian Sea, the city of stars, Mumbai is Maharashtra’s sweetheart.
        Amidst its cosmopolitan crowd, there still exists a world that is connected with rich history that can undoubtedly,
        win every heart.Right from the holy sites to often crowded beaches, from colourful bazaars to happening nightlife
        and from sky scrapers to high-end hotels, Mumbai is filled with attractions that you cannot give a miss .
        The city is also a land of contrast that is adorned with colonial architecture on one side and houses one of
        Asia’s biggest slums on the other side.
    </p>
    <h3 class="text2">Places To visit</h3>

    <div class="flip-card mySlides">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/images/elephantcave1.jpg" alt="ElephantCaves" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h4 class="text3">Elephanta Caves</h4>
                <p class="text3" width="100">
                    Elephanta Caves are a UNESCO World Heritage Site and a collection of cave temples predominantly dedicated to the Hindu god Shiva.
                    They are on Elephanta Island, or Gharapuri, in Mumbai Harbour, 10 kilometres east of Mumbai in the Indian state of Mahārāshtra.
                </p>
            </div>
        </div>
    </div>

    <div class="flip-card mySlides1">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/images/marinedrive1.jpg" alt="Marinedrive" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h4 class="text3">Marine Drive</h4>
                <p width="100">
                    Marine Drive is a 3.6-kilometre-long Promenade along the Netaji Subhash Chandra Bose Road in Mumbai,
                    India. Often, the names Marine Drive and Marines are used interchangeably to refer to this 3.9 km stretch.
                    The road and promenade were constructed by Pallonji Mistry. It is a 'C'-shaped six-lane concrete road along the coast of
                    a natural bay.
                </p>
            </div>
        </div>
    </div>

    <div class="flip-card mySlides2">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/images/Gateway2.jpg" alt="Gateway" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h4 class="text3">Gateway Of India</h4>
                <p width="100">
                    The Gateway of India is an arch-monument built in the early 20th century in the city of Mumbai, India.
                    It was erected to commemorate the landing in December 1911 at Wellington Pier, Mumbai of King-Emperor George V
                    and Queen-Empress Mary, the first British monarch to visit India.
                </p>
            </div>
        </div>
    </div>

    <div class="flip-card mySlides3">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/images/colaba1.jpg" alt="Colaba" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h4 class="text3">Colaba Causeway</h4>
                <p width="100">
                    Colaba Causeway, officially known as Shahid Bhagat Singh Road, is a commercial street,
                    and a major causeway or land link between Colaba and the Old Woman's Island in the city of Mumbai, India.
                </p>
            </div>
        </div>
    </div>
    <h3 class="text4">Hotels</h3>

    <ul class="card-wrapper">
        <li class="card" style="position:relative;left:100px;">
            <img src="~/images/ginger4.jpg" height="200"><br>
            <center>
            <h3>Ginger</h3>
            <p>
                3-star hotel Teli Gali, Sampada Society, Andheri East, Mumbai, Maharashtra 400069•022 2684 0333
                <br> Terif: 2705
            </p>
                </center>
        </li>
        <li class="card" style="position:relative;left:200px;">
            <img src="~/images/milan1.jpg" height="200"><br>
            <center>
            <h3>Milan International</h3>
            <p>
                3-star hotel 1st Road, Near Milan Subway, Santacruz West, Kothwadi Area, Mumbai, Maharashtra 400054•079774 22052
                Terif:1282
            </p>
                </center>
        </li>
        <li class="card" style="position:relative;left:300px;">
            <img src="~/images/orchid1.jpg" height="200"><br>
            <center>
            <h3>Orchid Mumbai Vile Parle</h3>
            <p>
                5-star hotel 70-C, Nehru Rd, near Mumbai Domestic airport, Navpada, Vile Parle East, Vile Parle, Mumbai, Maharashtra 400099•091691 66789<br>
                Terif : 3267
            </p>
                </center>
        </li>
    </ul>

    <!--Restaurants-->
    <h3 class="text5" style="position:relative;bottom:1040px;">Restaurants</h3>
    <ul class="card-wrapper">
        <li class="card" style="position:relative;left:100px;bottom:1000px;">
            <img src="~/images/earth1.jpg" height="200"><br>
            <center>
            <h3>Earth</h3>
            <p>
                Hotel Sahara Star, Opposite Domestic Airport, Vile Parle East Sahara Star Hotel, Mumbai 400099 India
                <br /> no : +91 22 3980 7444
            </p>
                </center>
        </li>
        <li class="card" style="position:relative;left:200px;bottom:1000px;">
            <img src="~/images/vedge1.jpg" height="200"><br>
            <center>
            <h3>Vedge</h3>
            <p>
                Fun Republic Mall Ground Floor New Link Road, Opposite Laxmi Industrial Estate Near to Yash Raj Films Studio and Balaji Films Studio, Mumbai 400053 India
                <br> no : +91 22 2410 1010
            </p>
                </center>
        </li>
        <li class="card" style="position:relative;left:300px;bottom:1000px;">
            <img src="~/images/shakey4.jpg" height="200"><br>
            <center>
            <h3>Shakey Wakey</h3>
            <p>
                Shop 1, Building 12 ground floor, Lotus CHS, Oshiwara, Mumbai India
                <br> no : +91 98200 01328
            </p>
                </center>
        </li>
    </ul>
</div>

<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>

