@model Template.Models.Details


@{ ViewData["Title"] = "Create"; }

<h1>Create</h1>

<h4>Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CId" class="control-label"></label>
                <input asp-for="CId" class="form-control" />
                <span asp-validation-for="CId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopPlacesToVisit" class="control-label"></label>
                <input asp-for="TopPlacesToVisit" class="form-control" />
                <span asp-validation-for="TopPlacesToVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurants" class="control-label"></label>
                <input asp-for="Restaurants" class="form-control" />
                <span asp-validation-for="Restaurants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotels" class="control-label"></label>
                <input asp-for="Hotels" class="form-control" />
                <span asp-validation-for="Hotels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guide" class="control-label"></label>
                <input asp-for="Guide" class="form-control" />
                <span asp-validation-for="Guide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
